@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Open+Sans&display=swap');

h1 {
	color: #FF7FAD;
	font-family: 'League Spartan', sans-serif;
	text-align: left;
}

h2{
	color: #FF7FAD;
	font-family: 'League Spartan', sans-serif;
	text-align: left;
	font-weight: normal;
}

a:link {
	color: #FF7FAD;
}

a:visited {
	color: #FF7FAD;
}

body {
  color: #FF7FAD;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	background-color: #191919;
	
}

button {
	background-color: #FF7FAD;
	border: none;
	color: white;
	padding: 5px 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	border-radius: 8px;
	font-family: 'League Spartan', sans-serif;
}

img {
	height:300px;
}
