@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=League+Spartan:wght@400;600;700;800&family=Lobster&family=Open+Sans&family=Tilt+Prism&display=swap');

h1 {
	color: #FF7FAD;
	font-family: 'League Spartan', sans-serif;
	text-align: center;
	font-size: 80px;
	font-weight: 700;
}

h2{
	color: #C15D57; 
	font-family: 'League Spartan', sans-serif;
	text-align: center;
	font-size: 20px;
	font-weight: 700;
}

h3{
	color: #FF7FAD;
	font-family: 'Lobster', sans-serif;
	text-align: center;
	font-size: 35px;
}

h4{
	color: #753A99;
	font-family: 'Lobster', sans-serif;
	text-align: center;
	font-size: 40px;
}

h5{
	color: #6E4045;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 20px;
}

h6 {
  color: #753A99;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

h7 {
  color: #FF7FAD;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

a:link {
	color: #FF7FAD;
}

a:visited {
	color: #FF7FAD;
}

body {
  color: #C15D57;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	background-color: #191919;
	font-size: 20px;
	
}

button {
	background-color: #C15D57;
	border: none;
	color: #191919;
	padding: 5px 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	border-radius: 8px;
	font-family: 'League Spartan', sans-serif;
}
